body {text-align: center}
#container {margin: 0 auto; width: 800px;}

table {width: 100%; margin: 0;}

td#header {width: 600px; text-align: center; vertical-align: bottom; color: white;
					 background: #AF7817; font: bold 400% "Times New Roman", Times, serif;
					 border: solid black; border-width: 3px 0 0 3px;}

td#user_nav {vertical-align: top; text-align: right;
						 color: white; background: #AF7817; border: solid black;
						 border-width: 3px 3px 0 0;}
td#user_nav a:link {color: #FFF380;}
td#user_nav a:visited {color: #FFF380;}

tr td.crumbs {color: white; background: black;}
tr td.crumbs a:link {color: white; text-decoration: none;}
tr td.crumbs a:visited {color: white; text-decoration: none;}

td#main_nav {width: 120px; vertical-align: top; padding: 0 0 1px 0.33em;
						 background: #AF7817; color: white;}
td#main_nav a:link {color: white; text-decoration: none;}
td#main_nav a:visited {color: white; text-decoration: none;}
