<h1>Welcome to your friends' libraries.</h1>

<p>
Post you books here. See what books your friends have. Borrow. Trade. Untrade. Enjoy!
</p>

<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
